<template>
  <div>
  <v-container class="mt-4">
    <v-layout row wrap justify-center>

      <v-flex xs12 sm10 md8 class="text-xs-center mb-4">
        <h1 class="display-1 font-weight-medium mb-3">
          Terms of Service
        </h1>
        <h4 class="text--darken-1 mb-3">
              Last updated: May 29, 2019
        </h4>

        <p class="font-18 font-weight-regular mt-3">
          READ THESE TERMS CAREFULLY BEFORE BROWSING THIS WEBSITE.
          USING THIS WEBSITE INDICATES THAT YOU HAVE BOTH READ AND ACCEPT THESE TERMS.
          YOU CANNOT USE THIS WEBSITE IF YOU DO NOT ACCEPT THESE TERMS.
        </p>

      </v-flex>


      <v-flex xs12 sm10 md8 class="text-xs-left mb-4">
        <v-card class="elevation-0">
          <v-card-text class="font-18 font-weight-regular">
            <p>
              The following Terms of Services ("ToS") govern your relationship ("Customer", "User" or "You")
              with <i>{{ COMPANY }}</i> ("Phaser", "Bloom", "we", or "us"), a Société par Actions Simplifiée registered in
              Grenoble, France, under number {{ SIRET }} having its registered office at
              107 Chemin des vergers, 38190 Bernin, France.
            </p>

            <h4 class="text-xs-left text--darken-1 mt-3 mb-3">
              Revisions and Errata
            </h4>
            <p>
              The materials appearing on Phaser's service could include technical or
              contents errors. Phaser does not warrant that any of the materials on
              its service are accurate, complete, or current. Phaser may make changes
              to the materials contained on its service at any time without notice.
            </p>

            <h4 class="text-xs-left text--darken-1 mt-3 mb-3">
              Scope
            </h4>
            <p>
                Phaser provides Services aimed at reinforcing the security of Customer’s Properties and protecting
                increasing customer's productivity.
                Phaser Services are subject to the terms and conditions of these ToS.
                You may access and use the Platform in accordance with these Terms. <br/><br/>

                By signing up with Phaser, you irrevocably agree to be bound by this ToS.
                You shall not use the Services if You do not accept the provisions of this ToS.<br/><br/>

                When using the features of the Platform you are subject to any agreements,
                policies or guidelines applicable to such features that may be posted from time to time.
                All such agreements, policies or guidelines, including the  <router-link to="/privacy">Privacy Policy</router-link>
                (as applicable) are hereby
                incorporated by reference into these Terms.
            </p>



            <h4 class="text-xs-left text--darken-1 mt-3 mb-3">
               Account Setup
            </h4>
            <p>
                To use the Platform, you need to set up a Phaser account.
                Account creation is free.
                You are authorized by Phaser to set up only on Account.
                Phaser reserves the right to terminate any additional Accounts set up by you. <br/><br/>

                When you create an account, we collect registration-related information such as e-mail.
                Once you submit the required registration information,
                You will be sent an e-mail detailing how to complete your registration.
                For so long as you use the account, you agree to provide true, accurate, current, and
                complete information which can be accomplished by logging into your account and making
                relevant changes directly. You are responsible for complying with these Terms when you access
                this Website, whether directly or through any account that you may setup through or on this Website.
                Because it is your account, it is your job to obtain and maintain all equipment and services needed for
                access to and use of this Website as well as paying related charges. It is also your
                responsibility to maintain the confidentiality of your password(s),
                including any password of a third-party site that we may allow you to use to access this Website.
                Should you believe your password or security for this website has been breached in any way, you must
                immediately notify us.<br/><br/>

                Our billing processors collect your billing information when you upgrade to a Paid Plan.
                All of this registration information is protected in accordance with our <router-link to="/privacy">Privacy Policy</router-link>.
            </p>


            <h4 class="text-xs-left text--darken-1 mt-3 mb-3">
               Subscription Period And Subscription Fees
            </h4>
            <p>
                You agree to pay all applicable fees related to your use of this Website and the Platform
                which are described fully on our pricing page.<br/>
                By providing a payment method, you expressly authorize us to charge the applicable fees
                on said payment method as well as taxes and other charges incurred thereto at regular intervals,
                all of which depend on your particular membership and utilized services.<br/><br/>

                The subscription period for Paid plans can be month-to-month, yearly, or another duration described
                more fully on our pricing page. For Free plans, the subscription period is month-to-month unless
                earlier terminated as provided in these Terms.<br/><br/>

                Paid Plans are subject to fees based upon the plan type you've selected.
                For renewals, Phaser will automatically charge your credit card the amount of the then-current
                fee for your type of plan, plus applicable taxes.
                All payments are non-refundable. To the extent that payment mechanisms are provided through third
                parties, you agree that Phaser will have no liability to you arising out of the acts or
                omissions of such third parties.<br/><br/>

                If fees are not paid in the following 14 days, Supplier has the right to permanently
                delete the Workspace, including all Client Data therein.<br/><br/>

                Payments are proceded at the start of the billing period.<br/><br/>
            </p>




            <h4 class="text-xs-left text--darken-1 mt-3 mb-3">
               Renewal / Cancellation
            </h4>
            <p>
              Paid Plans will automatically renew for the same Subscription Period unless you cancel the
              plan by the end of the then-current Subscription Period.
              You can cancel your plan at any time by contacting customer service at <a href="mailto:hello@bloom.sh">hello@bloom.sh</a>.
              Cancellation will be effective immediately.
              Please note that after you cancel your plan, you will not be able to use or access the
              Workspace and you will not be entitled to a refund of any fees that you've paid.
            </p>


            <h4 class="text-xs-left text--darken-1 mt-3 mb-3">
              Legal Compliance
            </h4>
            <p>
              You agree to comply with all applicable domestic and international laws,
              statutes, ordinances, and regulations regarding your use of our Website.
              Phaser reserves the right to investigate complaints or reported violations of our
              Terms and to take any action we deem appropriate, including but not limited to canceling
              your Member account, reporting any suspected unlawful activity to law enforcement officials,
              regulators, or other third parties and disclosing any information necessary or appropriate to
              such persons or entities relating to your profile, e-mail addresses, usage history,
              posted materials, IP addresses and traffic information, as allowed under our <router-link to="/privacy">Privacy Policy</router-link>.
            </p>



            <h4 class="text-xs-left text--darken-1 mt-3 mb-3">
              Intellectual Property
            </h4>
            <p>
              Our Website may contain our service marks or trademarks as well as those of our affiliates or
              other companies, in the form of words, graphics, and logos. Your use of our Platform does not constitute
              any right or license for you to use such service marks/trademarks, without the prior written permission
              of the corresponding service mark/trademark owner. <br/><br />

              Even if our platform is free and open source, Bloom and Phaser security are protected under international
              copyright laws. The copying, redistribution, use or publication by you of these brands is
              strictly prohibited. Your use of our Platform does not grant you ownership rights of any kind Brands.
            </p>


             <h4 class="text-xs-left text--darken-1 mt-3 mb-3">
              Electronic Communications
            </h4>
            <p>
              By using the Website, you consent to receiving electronic communications from us.
              These electronic communications may include notices about applicable fees and charges,
              transactional information and other information concerning or related to this Service.
              These electronic communications are part of your relationship with us. You agree that any notices,
              agreements, disclosures or other communications that we send you electronically will satisfy
              any legal communication requirements, including that such communications be in writing.

            </p>


            <h4 class="text-xs-left text--darken-1 mt-3 mb-3">
              Links To Other Websites
            </h4>
            <p>
              Our Website may contain links to third party websites.
              These links are provided solely as a convenience to you. By linking to these websites,
              we do not create or have an affiliation with, or sponsor such third party websites.
              The inclusion of links within our Website does not constitute any endorsement, guarantee, warranty,
              or recommendation of such third party websites. Phaser has no control over the legal documents
              and privacy practices of third party websites; as such, you access any such third party websites at
              your own risk.
            </p>


            <h4 class="text-xs-left text--darken-1 mt-3 mb-3">
              General Terms
            </h4>
            <p>
              We think direct communication resolves most issues – if we feel that you are not
              complying with these Terms, we will likely tell you. We may even provide you with
              recommended necessary corrective action(s) if possible. However, certain violations of
              these Terms, as determined by us, may require immediate termination of your access
              to this Website without prior notice to you. <br/><br/>

              These Terms, together with our <router-link to="/privacy">Privacy Policy</router-link>,
              contain the entire agreement between
              you and us and, therefore, supersede all prior or contemporaneous negotiations, discussions or
              agreements between Phaser and you about the Website and our services.
              The rights of Phaser under our Terms will survive the termination of our Terms.
            </p>



            <h4 class="text-xs-left text--darken-1 mt-3 mb-3">
              Forums
            </h4>
            <p>
              Certain areas of this platform are public-facing and allow you to interact with others
              (e.g., the Phaser blog and the idea portal) (together, “Forums”).
              These Forums may permit you to submit feedback, information, data, text, software, messages,
              or other materials (each, a "Submission"). We love hearing from our users! It's incredibly helpful
              and helps us to make a better Phaser for all. If you choose to submit ideas, comments, feedback,
              or any other materials either directly to us or via a Forum, you agree that we can use them without any
              restrictions or compensation to you. <br /><br />

              You agree that you are solely responsible for all of your Submissions and that any such
              Submissions are considered both non-confidential and non-proprietary. If you use Forums, you
              also understand that anyone could see your Submissions. Phaser does not endorse, nor are we
              required to pre-screen your Submissions (although we might), and, like elsewhere on the Internet,
              Submissions from other people could offend you. Further, we do not guarantee that you will be able to
              edit or delete any Submission you have submitted.<br /><br />

              By submitting any Submission, you are promising us that you own all rights in your Submission,
              your Submission does not infringe on the rights of others, your Submission does not violate
              law, and your Submission is not in poor taste.<br /><br />

              You grant to us an irrevocable royalty-free license to copy, modify, publish and display your
              Submission, and to make, use and sell (and permit others to use) your Submission for any purpose
              (including, without limitation, to use your Submission in our Platform).
            </p>




            <h4 class="text-xs-left text--darken-1 mt-3 mb-3">
              Unauthorized Activities
            </h4>
            <p>
              To be clear, we authorize your use of Phaser only for Permitted Purposes.
              Any other use of this Platform beyond the Permitted Purposes or for illegal purpose is
              prohibited and, therefore, constitutes unauthorized use of this Platform.
              This is because as between you and us, all rights in this Website remain our property. <br />

              All tests (or check) should be done on your own systems, with the accord of the legal representant.<br />

              Unauthorized use of this Website may result in violation of various French and international copyright laws.
              Because we prefer keeping this relationship drama-free, we want to give you examples of things to avoid.
              So, unless you have written permission from us stating otherwise, you are not authorized to use
              this Website in any of the following ways (these are examples only and the list below is not a
              complete list of everything that you are not permitted to do):<br />

              <ul>
              <li> In a manner that modifies, publicly displays, publicly performs,
              reproduces or distributes any of this Website;</li>
              <li> In a manner that violates any local, state, national, foreign, or international statute,
              regulation, rule, order, treaty, or other law;</li>
              <li> To stalk, harass, or harm another individual;</li>
              <li> To impersonate any person or entity or otherwise misrepresent your affiliation with a person or entity;</li>
              <li> To interfere with or disrupt this Website or servers or networks connected to this Website;</li>
              <li> To use any data mining, robots, or similar data gathering or extraction methods in connection
              with this Website; or</li>
              <li> Attempt to gain unauthorized access to any portion of this Website or any other accounts,
                computer systems, or networks connected to this Website, whether through hacking,
                password mining, or any other means.</li>
              </ul>
            </p>


            <h4 class="text-xs-left text--darken-1 mt-3 mb-3">
              Indemnification
            </h4>
            <p>
              You alone are responsible for any violation of these Terms by you.
              You agree to indemnify and hold Phaser, its parents, subsidiaries, affiliates, officers,
              agents, employees, resellers or other partners and licensors harmless from any claim,
              demand, loss, or damages, including reasonable attorneys’ fees, arising out of or related
              to your Data, or the use thereof, including but not limited to allegations that any processing
              of your Data by Phaser and/or you under this Agreement violates any applicable law or regulation,
              or infringes the privacy or intellectual property rights of a third party, your User Content,
              your use of the Phaser Properties, your violation of these terms, or your violation of any law.
            </p>



            <h4 class="text-xs-left text--darken-1 mt-3 mb-3">
              Warranty Disclaimer
            </h4>
            <p>
              THE SERVICE IS PROVIDED "AS IS" AND "WITH ALL FAULTS" AND THE ENTIRE RISK AS TO THE QUALITY
              AND PERFORMANCE OF THE WEBSITE IS WITH YOU. WE EXPRESSLY DISCLAIM ALL WARRANTIES OF ANY KIND
              (EXPRESS, IMPLIED OR STATUTORY) WITH RESPECT TO THE WEBSITE, WHICH INCLUDES BUT IS NOT LIMITED
              TO, ANY IMPLIED OR STATUTORY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR USE OR PURPOSE,
              TITLE, AND NON-INFRINGEMENT OF INTELLECTUAL PROPERTY RIGHTS.

              THIS MEANS THAT WE DO NOT PROMISE YOU THAT THE WEBSITE IS FREE OF PROBLEMS.
              Without limiting the generality of the foregoing, we make no warranty that the Website
              will meet your requirements or that the Website will be uninterrupted, timely, secure,
              or error free or that defects in the Website will be corrected. We make no warranty as to the
              results that may be obtained from the use of the Website or as to the accuracy or reliability of
              any information obtained through the Website. No advice or information, whether oral or written,
              obtained by you through the Website or from us or our subsidiaries/other affiliated companies will
              create any warranty. We disclaim all equitable indemnities.
            </p>



            <h4 class="text-xs-left text--darken-1 mt-3 mb-3">
             Limitation Of Libaility
            </h4>
            <p>
              PHASER WILL NOT BE LIABLE TO YOU FOR ANY DAMAGES RESULTING FROM YOUR USE OF THE WEBSITE
              OR YOUR DISPLAYING, COPYING, OR DOWNLOADING ANY MATERIALS TO OR FROM THE WEBSITE.
              IN NO EVENT WILL PHASER BE LIABLE TO YOU FOR ANY INDIRECT, EXTRAORDINARY, EXEMPLARY,
              PUNITIVE, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES (INCLUDING LOSS OF DATA, REVENUE,
              PROFITS, USE OR OTHER ECONOMIC ADVANTAGE) HOWEVER ARISING, EVEN IF WE KNOW THERE IS A
              POSSIBILITY OF SUCH DAMAGE.

              PHASER'S MAXIMUM AGGREGATE LIABILITY TO YOU IN CONNECTION WITH THESE TERMS OR THE WEBSITE,
              REGARDLESS OF THE FORM OF ACTION (WHETHER SUCH LIABILITY ARISES DUE TO NEGLIGENCE, BREACH OF
              CONTRACT, MISREPRESENTATION OR FOR ANY OTHER REASON), WILL AT ALL TIMES BE LIMITED TO THE GREATER OF
              (I) THE AMOUNT PAID, IF ANY, BY YOU TO PHASER IN CONNECTION WITH THESE TERMS IN THE TWELVE (12)
              MONTHS PRIOR TO THE ACTION GIVING RISE TO LIABILITY OR (II) US $100.00.
            </p>


            <h4 class="text-xs-left text--darken-1 mt-3 mb-3">
              Changes
            </h4>
            <p>
              We may amend our Terms at any time by publishing revised Terms on our Website and/or
              by sending an e-mail to the address you gave us. The latest copies of our Terms will be
              posted on our Website, and you should review all Terms prior to using our Website.
              Continued use of this Website following notice of any such modifications indicates you acknowledge
              and agree to be bound by the modifications. Therefore, it is important for you to periodically review our
              Terms to make sure you still agree to them. If you object to any such modifications, your sole recourse
              will be to cease using this Website. Phaser reserves the right to change any and all features of our Website,
              at any time without notice.
            </p>


            <h4 class="text-xs-left text--darken-1 mt-3 mb-3">
              Contact Us
            </h4>
            <p>
              If you have any questions about these Terms or otherwise need to contact us for any
              reason, you can reach us using ourdedicated <router-link to="/contact">Contact page</router-link>.
            </p>


            <h4 class="text-xs-left text--darken-1 mt-3 mb-3">
              Governing Law
            </h4>
            <p class="mb-5">
              Any claim relating to {{ COMPANY }}'s service shall be governed by the laws of
              France without regard to its conflict of law provisions.

            </p>


            <p class="text-xs-center"><b>
              By using Phaser, you commit to use the service in accordance with these principles.
              On its side, {{COMPANY}} understakes to provide a reliable service and comprehensive communication
            </b></p>


          </v-card-text>
        </v-card>
      </v-flex>

    </v-layout>
  </v-container>
  <blm-footer />
</div>
</template>


<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';


@Component
export default class Index extends Vue {
  // props
  // data
  COMPANY = 'Phaser Security SAS';
  SIRET = '839 477 668 00017';

  // computed
  // lifecycle
  // watch
  // methods
}
</script>

<style scoped lang="scss">
a {
  text-decoration: none;
}

.font-18 {
  font-size: 18px;
}

.font-5 {
  font-size: 15px;
}
</style>
