<template>
  <div>

  <section id="main-section">
      <div id="hero-image" style="padding-top: 42px; margin-bottom: -42px;">
        <img style="margin-top: 0; z-index: 10" src="/phaser/static/imgs/landing/dashboard.png" />
        <img style="margin-top: -6em; z-index: 5" src="/phaser/static/imgs/landing/phaser_shield.png" />
        <img style="margin-top: -6em; z-index: 1" src="/phaser/static/imgs/landing/code.png" />
      </div>
    <v-container>
      <v-layout row wrap>
        <v-flex xs12 class="text-xs-center">
        <v-hover>
        <v-card
        slot-scope="{ hover }"
        :class="`elevation-${hover ? 6 : 1}`"
        class="mb-5">
          <v-container>
            <v-layout row wrap>
              <v-flex xs12>
                <h2 class="blm-primary-title">
                  Phaser
                </h2>
                <p class="blm-primary-desc">
                  <!-- The cloud native security scanner -->
                  Continuous security made easy
                </p>
                <v-btn to="/register" color="blue" dark>
                  Get started
                </v-btn>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card>
        </v-hover>
        </v-flex>
      </v-layout>
    </v-container>
  </section>

<div style="height: 150px; overflow: hidden;" >
<svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-0.00,50.02 C150.00,150.10 271.22,-50.03 500.00,50.02 L500.00,-0.00 L-0.00,-0.00 Z" style="stroke: none; fill: #75aee5;"></path></svg>
</div>


  <v-container class="pt-5 pb-5 text-xs-center text-md-left">

    <section
      v-for="(service, index) in services"
      class="text-xs-center pt-5 pb-5"
      :key="service.name">
      <v-layout row wrap align-center v-if="index % 2 === 0">
        <v-flex xs12 sm6 class="pt-2 pb-2">
          <v-img :src="service.logo" height="200" contain/>
        </v-flex>
        <v-flex xs12 sm6 class="pt-2 pb-2">
          <h2 class="display-1 font-weight-regular">
            {{ service.name }}
          </h2>
          <br />
          <p class="body-2" v-html="service.description"></p>
          <v-btn v-if="service.learn_more" :to="service.learn_more" flat color="primary">
            Learn more
          </v-btn>
          <v-btn to="/register" color="blue" dark>
            <span v-if="service.button">{{ service.button }}</span>
            <span v-else>Try it Free</span>
          </v-btn>
        </v-flex>
      </v-layout>
      <v-layout v-else row wrap align-center>
        <v-flex xs12 sm6 order-sm2 class="pt-2 pb-2">
          <v-img :src="service.logo" height="200" contain />
        </v-flex>
        <v-flex xs12 sm6 class="pt-2 pb-2">
          <h1 class="display-1 font-weight-regular">
            {{ service.name }}
          </h1>
          <br />
          <p class="body-2" v-html="service.description"></p>
          <v-btn v-if="service.learn_more" :to="service.learn_more" flat color="primary">
            Learn more
          </v-btn>
          <v-btn to="/register" color="blue" dark>
            <span v-if="service.button">{{ service.button }}</span>
            <span v-else>Try it Free</span>
          </v-btn>
        </v-flex>
      </v-layout>
    </section>

    <section class="text-xs-center">
        <v-card class="mb-5 mt-5 elevation-0">
        <v-container>
          <v-layout row wrap>
            <v-flex xs12>
              <p class="blm-primary-desc">
                Get started with Phaser for free
              </p>
              <v-btn to="/register" color="blue" dark>
                Go to Phaser
              </v-btn>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card>
    </section>

    </v-container>

  <blm-footer />
</div>
</template>


<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';


@Component
export default class Landing extends Vue {
  // props
  // data
  services = [
    {
      button: 'First scan is FREE',
      description: 'Check for vulnerabilities in your network and applications',
      logo: '/phaser/static/imgs/landing/data.svg',
      name: 'How are my assets exposed to risk?',
    },
    {
      description: 'Today\'s game is not Large vs small companies but <b>Fast</b> vs <b>Slow</b>.' +
      '<br /> Staying secure while being fast-paced is <b>Hard</b>.',
      logo: '/phaser/static/imgs/landing/finish_line.svg',
      name: 'Enter the Continuous Security Era.',
    },
    {
      description: 'By being open source, integrating security tests in your CI pipeline has ' +
        ' never been so easy.<br />' +
        '<b>With Phaser, security becomes part of your normal workflow.</b>',
      learn_more: '/open-source',
      logo: '/phaser/static/imgs/landing/open_source.svg',
      name: 'Open Source',
    },
    {
      description: 'Phaser security scanner performs fully automated tests to identify security' +
      ' issues on your web application. It checks for: <strong>SQL injections</strong>, ' +
      '<strong>XSS</strong>, <strong>SSL Errors</strong>, <strong>Heartbleed</strong> ' +
      ' and a lot of other vulnerabilities. <br /> PaaS/Serverless apps ready.' +
      '<br /> <b>Let us detect vulnerabilities for you before hackers.</b>',
      logo: '/phaser/static/imgs/landing/safe.svg',
      name: 'Network & Application Scanner',
    },
  ];


  // computed
  // lifecycle
  // watch
  // methods
}
</script>


<style scoped lang="scss">
.v-card {
  border-radius: 8px;
}

.rounded-elegance {
  font-family: rounded_elegance;
  font-weight: bold;
}

.blm-primary-title {
  font-size: 42px;
  font-weight: normal;
}
.blm-primary-desc {
  font-size: 32px;
}

#hero-image {
  position: absolute;
  top: 1vh;
  height: 49vh;
  left: 30vw;
  width: 40vw;

  img {
    width: 320px;
    height: 200px;
    position: relative;
    margin-left: calc(50% - 160px);
  }
}

#main-section {
  /* background: url(/imgs/landings/bloom/alt_wide_2.svg) no-repeat center fixed; */
  background: url(/kernel/static/imgs/landing/bg_1.svg) no-repeat center center;
  -webkit-background-size: fill; /* pour Chrome et Safari */
  -moz-background-size: fill; /* pour Firefox */
  -o-background-size: fill; /* pour Opera */
  background-size: fill; /* version standardisée */
  height: calc(70vh - 64px);
  padding-top: 52vh;
}

.headline {
  width: 100%;
}
</style>
